{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

 <div class="card" style="width: 36rem;margin-left: 50px;">
    <h1 >Привет, я автор</h1>
  <img class="card-img-top" src="https://sun9-17.userapi.com/impf/c844418/v844418569/1782bf/7FWXahYdgLU.jpg?size=1280x854&quality=96&sign=29c1037fec2a1ad02b7b3223e292fdc9&type=album" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Учусь на Python разработчика, прилагаю все возможные усилия чтоб хоть что то понимать)) люблю учиться в парке, смотря на гладь воды и слушая шум дубов и березок)</p>
  </div>
</div>
<div style="margin: 10px 0px 0px 50px;">
  <h3> Контакты </h3>
  <!-- Whatsapp -->
  <a class="btn btn-primary" style="background-color: #4c75a3;" href="https://vk.com/sewa1993" role="button">
    <i class="fab fa-vk"></i>
    Vk
  </a>
  <!-- Github -->
  <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/Vsevolod-ewa" role="button">
    <i class="fab fa-github"></i>
  Github 
  </a>
</div>
{% endblock %} 