{% extends 'base.html' %}
{% block title %}
{% if is_edit %}
Редактировать
{% else %}
Новый пост
{% endif %}
{% endblock title %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% if is_edit %}
            Редактировать пост
          {% else %}
          Новый пост
          {% endif %}            
        </div>
        <div class="card-body">
          {% include 'includes/errors.html' %}
          {% if is_edit %}
          <form action="{% url 'posts:post_edit' post.id %}" method="POST"  class="post-form"
          >
          {% else %}
          <form action="{% url 'posts:post_create'%}" method="POST"  class="post-form"
          >
          {% endif %}
            {% csrf_token %}
          {% for field in form %} 
             {% include 'includes/form_fields.html' %}
             {% endfor %}
            <button type="submit" class="btn btn-primary">
              {% if is_edit %}
                Добавить
              {% else %}
                Сохранить
              {% endif %}               
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}